services:
  api:
    build:
      context: .
      dockerfile: ci/docker/Dockerfile.api
    ports:
      - "5000:5000"

  ml:
    build:
      context: .
      dockerfile: ci/docker/Dockerfile.ml
    ports:
      - "8000:8000"

  ui:
    build:
      context: .
      dockerfile: ci/docker/Dockerfile.tomcat-ui
      args:
        APP_PATH: apps/checkout
    ports:
      - "8081:8080"
    depends_on:
      - api
      - ml
