services:
  api:
    image: yourdockerhub/cfd-api:${TAG}
    ports:
      - "5000:5000"
    restart: always

  ml:
    image: yourdockerhub/cfd-ml:${TAG}
    ports:
      - "8000:8000"
    restart: always

  ui:
    image: yourdockerhub/cfd-ui:${TAG}
    ports:
      - "8081:8080"
    depends_on:
      - api
      - ml
    restart: always
